body {
    padding-top: 160px; /* adjust based on navbar and header heights combined */
    padding-bottom: 60px; /* adjust based on footer height */
}

.fixed-top {
    z-index: 1030; /* Ensure it's above other elements */
}

.fixed-bottom {
    z-index: 1030; /* Keep footer above content */
}

main {
    min-height: calc(100vh - 220px); /* adjust based on header, navbar, and footer heights */
    padding-bottom: 80px;
}
